




<%= yield %>
</html>

<body>
  <html>
  <!DOCTYPE html>
  <html lang="en">

  <head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Business Frontpage - Start Bootstrap Template</title>

      <!-- Bootstrap Core CSS -->
      <link href="css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom CSS -->
      <link href="css/business-frontpage.css" rel="stylesheet">

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

  </head>

  <body>


      <!-- Image Background Page Header -->
      <!-- Note: The background image is set within the business-casual.css file. -->
      <header class="business-header">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <h1 class="tagline"><H1>Release Communication Repository</h1></h1>
                  </div>
              </div>
          </div>
      </header>

      <!-- Page Content -->
      <div class="container">

          <hr>

          <div class="row">
              <div class="col-sm-8">
                  <h2>Purpose</h2>
                  <p> The below Links contain the Instance, Customer contact, Region details</p>
              </div>


          </div>
          <!-- /.row -->

          <hr>

          <div class="row">
              <div class="col-sm-4">
                  <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300">
                  <h2>  <%= link_to 'Production Instances', prod_instances_path %></h2>
                  <p>Contains the list fo production instances mapped to company name</p>
              </div>
              <div class="col-sm-4">
                  <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                  <h2><%= link_to 'Customer Contacts', customer_contacts_path %></h2>
                  <p>Contains the list of customer contails mapped with instance names.</p>
              </div>
              <div class="col-sm-4">
                  <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                  <h2><%= link_to 'Regions', region_tables_path %></h2>
                  <p>Contains sandbox, production instances mapped with regions and sub-regions</p>
              </div>
          </div>
          <!-- /.row -->

          <hr>

          <!-- Footer -->
          <footer>
              <div class="row">
                  <div class="col-lg-12">

                  </div>
              </div>
              <!-- /.row -->
          </footer>

      </div>
      <!-- /.container -->

      <!-- jQuery -->
      <script src="js/jquery.js"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="js/bootstrap.min.js"></script>

  </body>

  </html>

</body>
